*{
    margin: 0px;
    padding: 0px;

}

/*main section*/

.mainimg{
    width: 100%;
    margin-top: -7%;
}
.section1{
    width: 100%;
}
.blackfriday{
    position: absolute;
    top: 36%;
    left: 34%;
    text-align: center;
    letter-spacing: 5px;
}
.black{
    font-family: 'Abril Fatface', sans-serif;
    font-size: 120px;
    font-weight: lighter;
    margin-bottom: 0px;
}
.friday{
    font-family: 'Roboto', sans-serif;
    font-size: 70px;
    font-weight: lighter;
    margin-top: -34px;
}
.captionmain{
    font-family: 'Open sans',sans-serif;
    font-size: 24px;
    font-weight: bold;
}

/*second section*/

.section2 {
    display: flex;
    color: white;
    flex-direction: row;
    background-color: #E72E36;
    margin-top: -4px;
    height: 700px;
    
}
.img2{
    background-image: url(/images/11.png);
    width: 50%;
    background-size: cover;
    
}
.text2{
    text-align: right;
    margin-right: 15px;
    width: 50%;
    letter-spacing: 4px;
    padding-left: 35px;
    padding-right: 15px;
}
.text2 h2,h3{
    font-family: 'Roboto', sans-serif;
}
.text2 p,a{
    font-family: 'Open sans', sans-serif;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.text2 h3{
    font-size: 30px;
    margin-top: 150px;
}
.text2 h2{
    font-size: 150px;
}
.text2 h2+h3{
    font-size: 48px;
    margin-top: 0px;
}
.text2 a{
    text-decoration: underline;
    color: white;
}

/*3d section*/

.section3{
    background-color: black;
    display: flex;
    flex-direction: row;
    color: rgb(240, 236, 236);
    height: 700px;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    
}
.section3 div{
    padding: 100px;
    margin: 30px;
    margin-top: 35px;
    padding-top: 55px;
}
.section3 p{
    font-family: 'Open sans',sans-serif;
    font-size: 16px;
    margin-top: 25px;
    line-height: 27px;
    margin-right: 15px;
}
.section3 h2{
    font-size: 150px;
    font-weight: bolder;
}
.section3 h3{
    font-size: 48px;                
}
.section3 strong{
    color: white;
}

/*4th section*/

.section4{
    background-image: url(/images/pexelsphoto218863.jpeg);
    height: 600px;
    background-size: cover;
    color: white;
    font-family: 'Roboto',sans-serif;
    font-size: 44px;
}
.section4 div{
    position: absolute;
    top: 2522px;
    left: 45px;
}

/*5th section*/

.section5{
    height: 300px;
    background-color:#E72E36 ;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.follow{
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 150px;
    align-items: center;
    justify-content: center;
}
.socials{
    display: flex;
    flex-direction: row;
}
.indiv{
    height: 27px;
    margin-left: 18px;
}
.follow h3{
    font-size: 48px;
    font-family: 'Roboto',sans-serif;
    margin-left: 25px;
}
.linkedin{
    margin-left: 24px;
}

/*5th section*/

.section6{
    height: 700px;
    background-image: url(/images/xdz.jpg);
    color: white;
    display: flex;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    align-items: center;
}
.section6 h2{
    font-size: 150px;
}
.section6 h3{
    font-size: 48px;
    color:#E72E36;
}
.section6 p{
    font-family: 'Open sans',sans-serif;
    font-size: 18px;
}
.section6 a{
    font-size: 16px;
    font-family: 'Open sans',sans-serif;
    text-decoration: underline;
    color: white;
    letter-spacing: 3px;
    font-weight: bolder;
}
.section6 div{
    width: 433px;
    border: white solid;
    height: 557px;
    margin-left: 40px;
}
.sale{
    
}